@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
.desktop-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}
.desktop-nav img {
  width: 5rem;
}
.desktop-nav button {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  margin-top: 5px;
  color: hsl(0deg, 0%, 100%);
  font-size: 0.9rem;
  font-weight: 550;
  font-family: inherit;
}
.desktop-nav .auth-nav {
  margin-left: 20%;
}
.desktop-nav .auth-nav button:nth-child(2) {
  color: hsl(356deg, 100%, 66%);
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 1rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 1.5rem;
  margin-left: 1.5rem;
}
.desktop-nav .auth-nav button:nth-child(2):hover {
  background-color: #ff8088;
  color: hsl(0deg, 0%, 100%);
}
@media screen and (max-width: 854px) {
  .desktop-nav {
    display: none;
  }
}

.mobile-nav {
  display: none;
  padding: 2rem;
}
.mobile-nav .brand {
  width: 80px;
  height: auto;
  margin-right: auto;
}
.mobile-nav .nav-icon {
  width: 33px;
  height: 25px;
  cursor: pointer;
}
@media screen and (max-width: 854px) {
  .mobile-nav {
    display: flex;
  }
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 5rem;
  color: hsl(0deg, 0%, 100%);
}
.banner__title {
  text-align: center;
  line-height: 2.5rem;
}
.banner__title h1 {
  color: hsl(0deg, 0%, 100%);
}
.banner__title span {
  color: #e2e2e4;
}
.banner__btn-container button:first-child {
  color: hsl(356deg, 100%, 66%);
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 1rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 1rem;
}
.banner__btn-container button:first-child:hover {
  background-color: #ff8088;
  color: hsl(0deg, 0%, 100%);
}
.banner__btn-container button:last-child {
  color: hsl(0deg, 0%, 100%);
  background-color: transparent;
  border-radius: 1rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 1rem;
  margin-left: 15px;
  outline: 1px solid hsl(0deg, 0%, 100%);
}
.banner__btn-container button:last-child:hover {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(356deg, 100%, 66%);
}
@media screen and (max-width: 854px) {
  .banner__title {
    font-size: 100%;
  }
  .banner__title span {
    font-size: 90%;
  }
}

.dropdown-container {
  position: relative;
  padding: 1rem 0.3rem 1rem;
}
.dropdown-container .dropdown {
  display: none;
  padding: 1rem 2rem;
  line-height: 1.7rem;
  border-radius: 5px;
  position: absolute;
  background-color: hsl(0deg, 0%, 100%);
  list-style-type: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  left: -1.5rem;
  top: 3rem;
}
.dropdown-container .dropdown a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 400;
}
.dropdown-container .dropdown a:hover {
  font-weight: 500;
}
.dropdown-container button::after {
  content: url(../../public/images/icon-arrow-light.svg);
  margin-left: 7px;
  display: inline-block;
}

.dropdown-container:nth-child(1):hover .dropdown {
  display: inline;
}
.dropdown-container:nth-child(1):hover button {
  text-decoration: underline;
}
.dropdown-container:nth-child(1):hover button::after {
  transform: rotate(180deg);
}

.dropdown-container:nth-child(2):hover .dropdown {
  display: inline;
}
.dropdown-container:nth-child(2):hover button {
  text-decoration: underline;
}
.dropdown-container:nth-child(2):hover button::after {
  transform: rotate(180deg);
}

.dropdown-container:nth-child(3):hover .dropdown {
  display: inline;
  left: -1.3rem;
}
.dropdown-container:nth-child(3):hover button {
  text-decoration: underline;
}
.dropdown-container:nth-child(3):hover button::after {
  transform: rotate(180deg);
}

.dropdown-container:nth-child(4):hover .dropdown {
  display: inline;
}
.dropdown-container:nth-child(4):hover button {
  text-decoration: underline;
}
.dropdown-container:nth-child(4):hover button::after {
  transform: rotate(180deg);
}

.modal {
  position: absolute;
  z-index: 50;
  top: -3rem;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 5px;
  width: 50%;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 50%);
  font-family: "Overpass", sans-serif;
  padding: 1rem 0rem;
  line-height: 3rem;
  display: none;
}
@media screen and (max-width: 640px) {
  .modal {
    width: 80%;
  }
}
.modal label {
  cursor: pointer;
  font-weight: 500;
}
.modal label::after {
  content: url(../../public/images/icon-arrow-dark.svg);
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
}
.modal a {
  text-decoration: none;
  color: inherit;
}
.modal hr {
  margin: 0.8rem 1rem;
  border: 1px solid hsl(240deg, 2%, 79%);
  border-top: 0rem;
  border-left: 0rem;
  border-right: 0rem;
}
.modal ul {
  margin: 1rem;
  padding: 0.8rem;
  list-style-type: none;
  border-radius: 5px;
  background-color: #e2e2e4;
  line-height: 2rem;
  display: none;
}
.modal .btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  font-size: 0.8rem;
}
.modal .btn-container button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: white;
  font-weight: 500;
  font-family: inherit;
}
.modal .btn-container button:last-child {
  color: hsl(0deg, 0%, 100%);
  padding: 7px 1rem;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(355deg, 100%, 74%);
  border-radius: 1rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-family: inherit;
}
@media screen and (max-width: 854px) {
  .modal {
    display: block;
  }
}
.modal input:checked + label::after {
  transform: rotate(180deg);
}
.modal input:checked ~ ul {
  display: block;
  font-weight: 500;
}
.modal input:checked + label {
  font-weight: 400;
}

.intro-desktop-view {
  display: flex;
  gap: 4rem;
  margin: 1rem 0rem 1rem 10%;
  align-items: center;
}
.intro-desktop-view img {
  width: 70%;
  margin-right: -14rem;
  position: relative;
  z-index: 2;
  margin-top: -6rem;
}
.intro-desktop-view__container, .intro-laptop-view__container {
  display: flex;
  flex-direction: column;
}
.intro-desktop-view__container aside, .intro-laptop-view__container aside {
  padding-bottom: 2rem;
}
.intro-desktop-view__container aside h3, .intro-laptop-view__container aside h3 {
  color: hsl(208deg, 49%, 24%);
  margin-bottom: 1rem;
  font-size: larger;
}
.intro-desktop-view__container aside p, .intro-laptop-view__container aside p {
  font-size: small;
  line-height: 1.5rem;
  color: hsl(207deg, 13%, 34%);
}
@media screen and (max-width: 854px) {
  .intro-desktop-view {
    margin: 1rem 10% 1rem 10%;
    text-align: center;
    flex-direction: column-reverse;
    justify-content: center;
    padding-bottom: 10rem;
  }
  .intro-desktop-view img {
    width: 25rem;
    margin: auto;
  }
}

.intro-laptop-view {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 3rem;
  margin: 1rem 10% 1rem 0rem;
}
.intro-laptop-view img {
  width: 80%;
  margin-left: -16.2rem;
}
@media screen and (max-width: 854px) {
  .intro-laptop-view {
    margin: 1rem 10% 1rem 10%;
    text-align: center;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .intro-laptop-view img {
    margin: auto;
    width: 30rem;
  }
}

.intro-mobile-view {
  background-color: #30303b;
  margin: 2rem 0rem;
  background-image: url(../../public/images/bg-pattern-circles.svg);
  background-repeat: no-repeat;
  border-bottom-left-radius: 5rem;
  border-top-right-radius: 5rem;
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 0rem 5% 0rem 10%;
  background-size: cover;
  background-position-y: -45rem;
  background-position-x: -15rem;
  position: relative;
  height: 25.8rem;
  z-index: 0;
}
.intro-mobile-view img {
  position: relative;
  z-index: 2;
  margin-top: 1.5rem;
}
.intro-mobile-view aside h1 {
  color: hsl(0deg, 0%, 100%);
  margin-bottom: 1rem;
}
.intro-mobile-view aside p {
  line-height: 1.5rem;
  color: #d1d7dc;
  font-size: small;
}
@media screen and (max-width: 854px) {
  .intro-mobile-view {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0%;
    padding: 0rem 5% 3rem 5%;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    background-position-x: center;
    background-position-y: -15rem;
  }
  .intro-mobile-view img {
    margin: -8rem auto 0rem;
    width: 20rem;
  }
}
@media screen and (max-width: 854px) and (max-width: 473px) {
  .intro-mobile-view img {
    margin-top: -8rem;
  }
}
@media screen and (max-width: 854px) {
  .intro-mobile-view aside {
    text-align: center;
  }
  .intro-mobile-view aside h1 {
    font-size: 2rem;
  }
  .intro-mobile-view aside p {
    font-size: 1rem;
  }
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

header {
  background-image: url(../../public/images/bg-pattern-intro-desktop.svg);
  background-color: hsl(356deg, 100%, 66%);
  background-repeat: no-repeat;
  background-size: 160%;
  background-position: center right -43rem;
  border-bottom-left-radius: 5rem;
  font-family: "Overpass", sans-serif;
}
@media screen and (max-width: 1042px) {
  header {
    background-size: 160%;
    background-position: center right -28rem;
  }
}
@media screen and (max-width: 854px) {
  header {
    background-size: 230%;
    background-image: url(../../public/images/bg-pattern-intro-mobile.svg);
    background-position: center;
  }
}
@media screen and (max-width: 512px) {
  header {
    background-size: 300%;
  }
}

main {
  font-family: "Overpass", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
main > h2 {
  position: relative;
  z-index: 1;
  font-size: xx-large;
  color: hsl(208deg, 49%, 24%);
  margin-bottom: 2rem;
}

footer {
  background-color: hsl(240deg, 10%, 16%);
  border-top-right-radius: 5rem;
  font-family: "Ubuntu", sans-serif;
  padding: 4rem 0rem;
  display: flex;
  justify-content: center;
  gap: 15%;
}
footer img {
  width: 80px;
  height: 32px;
}
footer a {
  text-decoration: none;
  color: hsl(240deg, 2%, 79%);
  font-size: medium;
}
footer a:hover {
  text-decoration: underline;
}
footer h4 {
  color: hsl(0deg, 0%, 100%);
  margin-bottom: 2rem;
}
footer ul {
  list-style-type: none;
  line-height: 2rem;
}
@media screen and (max-width: 675px) {
  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3rem;
  }
}/*# sourceMappingURL=index.css.map */