@use "../colors" as *;
@use "../fonts" as *;
@use "../mixins" as *;
.modal {
    position: absolute;
    z-index: 50;
    top: -3rem;
    background-color: $white-text;
    border-radius: 5px;
    width: 50%;
    @include changeLayoutFrom(640px) {
        width: 80%;
    }
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 50%);
    font-family: $overpass;
    padding: 1rem 0rem;
    line-height: 3rem;
    label {
        cursor: pointer;
        font-weight: 500;
        &::after {
            content: url(../../public/images/icon-arrow-dark.svg);
            margin-left: 5px;
            display: inline-block;
            vertical-align: middle;
        }
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    hr {
        margin: 0.8rem 1rem;
        border: 1px solid $grayish-blue;
        border-top: 0rem;
        border-left: 0rem;
        border-right: 0rem;
    }
    ul {
        margin: 1rem;
        padding: 0.8rem;
        list-style-type: none;
        border-radius: 5px;
        background-color: lighten($grayish-blue, 10);
        line-height: 2rem;
        display: none;
    }
    .btn-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        font-size: 0.8rem;
        button {
            border: none;
            outline: none;
            cursor: pointer;
            background-color: white;
            font-weight: 500;
            font-family: inherit;
        }
        button:last-child {
            color: $white-text;
            padding: 7px 1rem;
            @include btn($white-text, $very-light-red);
        }
    }
    display: none;
    @include mobile {
        display: block;
    }
    input:checked {
        & + label::after {
            transform: rotate(180deg);
        }
        & ~ ul {
            display: block;
            font-weight: 500;
        }

        & + label {
            font-weight: 400;
        }
        
    }
}
